html {
  scroll-behavior: smooth;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  background-color: #fbfbef;
  margin: 20px 0;
}

.container {
  max-width: 1110px;
  padding: 20px 50px;
  margin: 0 auto;
  background-color: #f7f2dc;
  border-radius: 40px;
}

a {
  text-decoration: none;
  font-size: 20px;
  color: brown;
}

a:hover {
  text-decoration: underline;
}

.active-link {
  color: #d54c4c;
}

h1 {
  color: brown;
  font-size: 32px;
}

section {
  margin: 30px 0;
}

img {
  max-width: 90%;
  display: block;
  margin: 0 auto 30px;
  border-radius: 20px;
}

b {
  color: #d54c4c;
}

h2 {
  font-size: 26px;
}

h2,
h3,
h4,
h5,
h6 {
  color: #812424;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 21px;
}

h6 {
  font-size: 20px;
}

footer ul {
  display: flex;
  gap: 100px;
  padding-left: 0;
  justify-content: center;
  list-style-type: none;
}

.footer-link {
  display: block;
  padding: 20px 30px;
  border-radius: 15px;
  background-color: #fffff3;
  transition: 0.4s;
}

.footer-link:hover {
  background-color: #f9f9f0;
}

@media (max-width: 1200px) {
  body {
    margin: 20px;
  }
}

@media (max-width: 720px) {
  .container {
    padding: 20px;
  }
  img {
    max-width: 100%;
  }
}

@media (max-width: 620px) {
  body {
    margin: 0;
  }
  .container {
    border-radius: 0;
  }
}

@media (max-width: 540px) {
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 22px;
  }
  h4 {
    font-size: 20px;
  }
  h5,
  h6 {
    font-size: 18px;
  }
}

@media (max-width: 440px) {
  h1 {
    font-size: 28px;
  }
  h2 {
    font-size: 22px;
  }
  h3 {
    font-size: 21px;
  }
  h4 {
    font-size: 20px;
  }
  h5,
  h6 {
    font-size: 18px;
  }
  .container {
    padding: 20px 15px;
  }
  footer ul {
    justify-content: space-around;
    gap: 0;
  }
}
